{{ 'about-section.css' | asset_url | stylesheet_tag }}

<div id="about-section" class="about-section">
        <div class="section-title">
          <h1>{{ section.settings.heading | escape }}</h1>
        </div>
        <div class="image-container">
           {%- for block in section.blocks -%}
          <div class="individual-image">
            {%- if block.settings.image != blank -%}
              <img
                srcset="
                  {%- if section.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ section.settings.image.width }}w
                "
                src="{{ block.settings.image | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
            <h2 class="{{ block.settings.image_heading_size }}">{{ block.settings.individual_image_heading | escape }}</h2>
            <p class="{{ block.settings.image_description_size }}">{{ block.settings.individual_image_subheading | escape }}</p>

            <div class="icon-bar"{% if block.settings.individual_image_link_one == blank %} style="display: none;"{% endif %}>
  <a href="{{ block.settings.individual_image_link_one }}">
    {%- if block.settings.button_link_image_one != blank -%}
                  <img
                    srcset="
                      {%- if section.settings.image.width >= 165 -%}{{ block.settings.button_link_image_one | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if section.settings.image.width >= 360 -%}{{ block.settings.button_link_image_one  | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if section.settings.image.width >= 535 -%}{{ block.settings.button_link_image_one | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if section.settings.image.width >= 750 -%}{{ block.settings.button_link_image_one  | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if section.settings.image.width >= 1070 -%}{{ block.settings.button_link_image_one  | image_url: width: 1070 }} 1070w,{%- endif -%}
                      {%- if section.settings.image.width >= 1500 -%}{{ block.settings.button_link_image_one  | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ block.settings.button_link_image_one | image_url }} {{ section.settings.image.width }}w
                    "
                    src="{{ block.settings.button_link_image_one  | image_url: width: 1500 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ section.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                  >
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
               <a
                    href="{{ block.settings.individual_image_link_two }}"
                >
                {%- if block.settings.button_link_image_two != blank -%}
                  <img
                    srcset="
                      {%- if section.settings.image.width >= 165 -%}{{ block.settings.button_link_image_two | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if section.settings.image.width >= 360 -%}{{ block.settings.button_link_image_two  | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if section.settings.image.width >= 535 -%}{{ block.settings.button_link_image_two | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if section.settings.image.width >= 750 -%}{{ block.settings.button_link_image_two  | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if section.settings.image.width >= 1070 -%}{{ block.settings.button_link_image_two  | image_url: width: 1070 }} 1070w,{%- endif -%}
                      {%- if section.settings.image.width >= 1500 -%}{{ block.settings.button_link_image_two  | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ block.settings.button_link_image_two | image_url }} {{ section.settings.image.width }}w
                    "
                    src="{{ block.settings.button_link_image_two  | image_url: width: 1500 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ section.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                  >
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
               <a
                    href="{{ block.settings.individual_image_link_three }}"
                >
                {%- if block.settings.button_link_image_three != blank -%}
                  <img
                    srcset="
                      {%- if section.settings.image.width >= 165 -%}{{ block.settings.button_link_image_three | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if section.settings.image.width >= 360 -%}{{ block.settings.button_link_image_three  | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if section.settings.image.width >= 535 -%}{{ block.settings.button_link_image_three | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if section.settings.image.width >= 750 -%}{{ block.settings.button_link_image_three | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if section.settings.image.width >= 1070 -%}{{ block.settings.button_link_image_three  | image_url: width: 1070 }} 1070w,{%- endif -%}
                      {%- if section.settings.image.width >= 1500 -%}{{ block.settings.button_link_image_three  | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ block.settings.button_link_image_three | image_url }} {{ section.settings.image.width }}w
                    "
                    src="{{ block.settings.button_link_image_three  | image_url: width: 1500 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ section.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                  >
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
            </div>
          </div>
                  {%- endfor -%}
        </div>
</div>

{% schema %}
{
  "name": "About Section",
   "class": "section",
  "settings": [
{
          "type": "text",
          "id": "heading",
          "default": "About Us",
          "label": "Section Heading"
        }
  ],
  "blocks":[
      {
		"type": "image",
		"name": "Image with text",
		"limit": 15,
		"settings": [
          {
				"type": "image_picker",
				"id": "image",
				"label": "Choose Image"
		},
          {
				"type": "text",
				"id": "individual_image_heading",
				"label": "Heading",
                "default": "John Smith"
		},
          {
				"type": "text",
				"id": "individual_image_subheading",
				"label": "Subheading",
                "default": "CEO"

		},
          {
          "type": "url",
          "id": "individual_image_link_one",
          "label": "Link One"
        },
          {
				"type": "image_picker",
				"id": "button_link_image_one",
				"label": "Choose Icon"
		},
          {
          "type": "url",
          "id": "individual_image_link_two",
          "label": "Link Two"
        },
          {
				"type": "image_picker",
				"id": "button_link_image_two",
				"label": "Choose Icon"
		},
          {
          "type": "url",
          "id": "individual_image_link_three",
          "label": "Link Three"
        },
          {
				"type": "image_picker",
				"id": "button_link_image_three",
				"label": "Choose Icon"
		}
		]
	}
  ],
  	"presets": [{
		"name": "About Section",
		"blocks": [{
			"type": "image"
		}]
	}]
}
{% endschema %}

